{#
/**
 * clean-up horizontal-menu markup
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

  {{ title_prefix }}
  {% if label %}
    <h5>{{ label }}</h5>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
